<div class="container">
    <div class=row>
      <div class=col-md-3>
        <app-menu></app-menu>
      </div>
      <div class=col-md-9>
        <div style="padding-left: 14%;">

<h1> ADD EXAM RESULT </h1>
<div class="form-control container">
<mat-form-field>
  <mat-select placeholder="Select class" [(ngModel)]="class_number" name="class_number">
    <mat-option *ngFor="let item of class_arr" [value]="item" >
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
&nbsp;&nbsp;&nbsp;&nbsp;
<mat-form-field>
  <mat-select placeholder="Select division" [(ngModel)]="div_name" name="div_name">
    <mat-option *ngFor="let item of div_arr" [value]="item" >
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
<p>Enter Name of All Subjects(PLEASE ENTER ALL DETAILS IN UPPERCASE)</p>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Enter Subject1" [(ngModel)]="r_sub1" name="r_sub1">
</mat-form-field>

&nbsp;&nbsp;&nbsp;&nbsp;
<mat-form-field class="example-full-width">
  <input matInput placeholder="Enter Subject2" [(ngModel)]="r_sub2" name="r_sub2">
</mat-form-field>

&nbsp;&nbsp;&nbsp;&nbsp;
<mat-form-field class="example-full-width">
  <input matInput placeholder="Enter Subject3" [(ngModel)]="r_sub3" name="r_sub3">
</mat-form-field>

&nbsp;&nbsp;&nbsp;&nbsp;
<mat-form-field class="example-full-width">
  <input matInput placeholder="Enter Subject4" [(ngModel)]="r_sub4" name="r_sub4">
</mat-form-field>

&nbsp;&nbsp;&nbsp;&nbsp;
<mat-form-field class="example-full-width">
  <input matInput placeholder="Enter Subject5" [(ngModel)]="r_sub5" name="r_sub5">
</mat-form-field>

<br>
<mat-form-field>
  <mat-select placeholder="Select Exam Type" [(ngModel)]="r_examtype" name="r_examtype">
    <mat-option *ngFor="let item of examtype_arr" [value]="item" >
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<button mat-raised-button color="warn" (click)="getstudents()"><mat-icon>add</mat-icon>Get Students</button>


<div>
<div class="col-md-4">
  <div class="row">
    <h1>Student List</h1>
    <table class="table" width="100%">
      <thead>
        <th>Roll Number</th>
        <th>Students Name</th>
        <th>{{r_sub1}}</th>
        <th>{{r_sub2}}</th>
        <th>{{r_sub3}}</th>
        <th>{{r_sub4}}</th>
        <th>{{r_sub5}}</th>
      </thead>
      <tr *ngFor="let item of s_arr;let i=index">
        <td>
          {{item.s_roll_no}}
        </td>
        <td>
          {{item.s_fname}};
        </td>
        <td>
          <input type="number" [(ngModel)]="mark1_arr[i]">
        </td>
        <td>
          <input type="number" [(ngModel)]="mark2_arr[i]">
        </td>
        <td>
          <input type="number" [(ngModel)]="mark3_arr[i]">
        </td>
        <td>
          <input type="number" [(ngModel)]="mark4_arr[i]">
        </td>
        <td>
          <input type="number" [(ngModel)]="mark5_arr[i]">
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
<div>

    <button mat-raised-button color="warn" (click)="onadd()"><mat-icon>add</mat-icon>Add Result</button>

  </div>
</div>

