<!-- <table class="table">
  <thead>
    <th> </th>
    <th>Bill Date</th>
    <th></th>
  </thead>
  <tr *ngFor="let item of s_arr">
      <td><img src="{{item.s_profilepic}}" alt="..." style="height: 30px;width:30px;border-radius: 20px;"></td>
    <td>{{item.s_roll_no}}</td>
    <td>{{item.s_fname}}</td>
    <td>{{item.s_lname}}</td>
    <td>{{item.s_class}}</td>
    <td>{{item.s_div}}</td>
  </tr>
</table> -->
<div class="container">
    <div class=row>
      <div class=col-md-3>
        <app-menu></app-menu>
      </div>
      <div class=col-md-9>

<br>
<br>
<div *ngIf="flag1" style="padding-left: 15%;">
  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(1,'A')">1 A</button>
  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(1,'B')">1 B</button><br><br>

  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(2,'A')">2 A</button>
  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(2,'B')">2 B</button><br><br>

  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(3,'A')">3 A</button>
  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(3,'B')">3 B</button><br><br>

  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(4,'A')">4 A</button>
  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(4,'B')">4 B</button><br><br>

  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(5,'A')">5 A</button>
  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(5,'B')">5 B</button><br><br>

  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(6,'A')">6 A</button>
  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(6,'B')">6 B</button><br><br>

  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(7,'A')">7 A</button>
  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(7,'B')">7 B</button><br><br>

  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(8,'A')">8 A</button>
  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(8,'B')">8 B</button><br><br>


  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(9,'A')">9 A</button>
  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(9,'B')">9 B</button><br><br>

  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(10,'A')">10 A</button>
  &nbsp;&nbsp;&nbsp;
  <button  mat-raised-button color="primary" (click)="firsta(10,'B')">10 B</button><br><br>
</div>
<div *ngIf="flag2" style="padding-left: 13%;">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>


<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>




    <ng-container matColumnDef="s_profilepic">
        <th mat-header-cell *matHeaderCellDef > Profile Photo </th>
        <td mat-cell *matCellDef="let element"> <a (click)="updateprofile(element)"><img src="http://localhost:3000/images/{{element.s_profilepic}}" style="height: 30px;width:30px;border-radius: 20px;" ></a> </td>
      </ng-container>


   <ng-container matColumnDef="s_roll_no">
    <th mat-header-cell *matHeaderCellDef > Roll No </th>
    <td mat-cell *matCellDef="let element"> {{element.s_roll_no}} </td>
  </ng-container>


  <ng-container matColumnDef="s_sname">
    <th mat-header-cell *matHeaderCellDef > SurName </th>
    <td mat-cell *matCellDef="let element"> {{element.s_sname}} </td>
  </ng-container>


  <ng-container matColumnDef="s_fname">
      <th mat-header-cell *matHeaderCellDef > Student Name </th>
      <td mat-cell *matCellDef="let element"> {{element.s_fname}} </td>
    </ng-container>


    <ng-container matColumnDef="s_class">
        <th mat-header-cell *matHeaderCellDef > Class </th>
        <td mat-cell *matCellDef="let element"> {{element.s_class}} </td>
      </ng-container>


      <ng-container matColumnDef="s_div">
          <th mat-header-cell *matHeaderCellDef > Division</th>
          <td mat-cell *matCellDef="let element"> {{element.s_div}} </td>
        </ng-container>


    <ng-container matColumnDef="Buttons">
      <th mat-header-cell *matHeaderCellDef > </th>
      <td mat-cell  *matCellDef="let element"> <button mat-icon-button>
          <mat-icon (click)="delete(element)">delete</mat-icon>&nbsp;&nbsp;&nbsp;
          <mat-icon (click)="update(element)">create</mat-icon>
        </button></td>

    </ng-container>




  <!-- <ng-container matColumnDef="view">
    <th mat-header-cell *matHeaderCellDef > View Detail </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="Viewdetail(element.b_id)">View Detail</button>
    </td>
  </ng-container> -->


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>
<br>
<br>
<div>
    <button mat-raised-button color="warn" (click)="deleteAll()"><mat-icon>delete</mat-icon>Delete</button>



</div>

</div>
