<div class="container">
    <div class=row>
      <div class=col-md-3>
        <app-menu></app-menu>
      </div>
      <div class=col-md-9>
        <div style="padding-left: 15%;">

<h1> UPDATE STUDENT </h1>

<div class="form-control container">
  <form class="example-form">

 <br>


 <mat-form-field class="example-full-width">
    <input matInput type="number" placeholder="Enter Roll No." s_roll_no required #s_roll_noFormControl="ngModel" [(ngModel)]="s_roll_no" name="s_roll_no">
    <mat-error *ngIf="s_roll_noFormControl.hasError('') && !s_roll_noFormControl.hasError('required')">
        Please enter a valid roll number
      </mat-error>
      <mat-error *ngIf="s_roll_noFormControl.hasError('required')">
        Student roll number is <strong>required</strong>
      </mat-error>
  </mat-form-field>

<br>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter  Surname" [(ngModel)]="s_sname" #s_snameFormControl="ngModel" s_sname required name="s_sname">
      <mat-error *ngIf="s_snameFormControl.hasError('s_sname') && !s_snameFormControl.hasError('required')">
          Please enter a valid surname
        </mat-error>
        <mat-error *ngIf="s_snameFormControl.hasError('required')">
        Student surname is <strong>required</strong>
        </mat-error>
    </mat-form-field>

<br>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter First name" [(ngModel)]="s_fname" #s_fnameFormControl="ngModel" s_fname required name="s_fname">
      <mat-error *ngIf="s_fnameFormControl.hasError('s_fname') && !s_fnameFormControl.hasError('required')">
          Please enter a valid user first name
        </mat-error>
        <mat-error *ngIf="s_fnameFormControl.hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

<br>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter Last name" [(ngModel)]="s_lname" #s_lnameFormControl="ngModel" s_lname required name="s_lname">
      <mat-error *ngIf="s_lnameFormControl.hasError('s_lname') && !s_lnameFormControl.hasError('required')">
          Please enter a valid last name
        </mat-error>
        <mat-error *ngIf="s_lnameFormControl.hasError('required')">
          Last name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

<br>

Select Gender
<br>
    <mat-radio-group class="example-radio-group" [(ngModel)]="s_gender" #s_genderFormControl="ngModel" required s_gender name="s_gender">
        <mat-radio-button class="example-radio-button" *ngFor="let item of gender_arr" [value]="item">
           {{item}}
        </mat-radio-button>
        <mat-error *ngIf="s_genderFormControl.hasError('s_gender') && !s_genderFormControl.hasError('required')">
            Please enter a valid gender
          </mat-error>
          <mat-error *ngIf="s_genderFormControl.hasError('required')">
            Gender is <strong>required</strong>
          </mat-error>
      </mat-radio-group>

<br>
<br>
<mat-form-field>
    <input matInput placeholder="Enter Date of birth" #s_genderFormControl="ngModel" type="date" required s_dob [(ngModel)]="s_dob" name="s_dob">
    <!-- <input matInput [matDatepicker]="picker" placeholder="Choose your Birth date" name="s_dob" [(ngModel)]="s_dob">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker> -->
    <mat-error *ngIf="s_genderFormControl.hasError('s_gender') && !s_genderFormControl.hasError('required')">
        Please enter a valid gender
      </mat-error>
      <mat-error *ngIf="s_genderFormControl.hasError('required')">
        Gender is <strong>required</strong>
      </mat-error>
  </mat-form-field>

  <br>


  <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter Email" #emailFormControl="ngModel" required email [(ngModel)]="s_email" name="s_email" [errorStateMatcher]="matcher">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

<br>
<br>

<mat-form-field class="example-full-width">
    <textarea matInput placeholder="Enter your address" #s_addressFormControl="ngModel" [(ngModel)]="s_address" s_address required name="s_address"></textarea>
    <mat-error *ngIf="s_addressFormControl.hasError('s_address') && !s_addressFormControl.hasError('required')">
        Please enter a valid address
      </mat-error>
      <mat-error *ngIf="s_addressFormControl.hasError('required')">
        Address is <strong>required</strong>
      </mat-error>
  </mat-form-field>

<br>
<br>

<mat-form-field>
    <mat-select placeholder="Enter Class" [(ngModel)]="s_class"  required s_class name="s_class" #s_classFormControl="ngModel">
      <mat-option *ngFor="let item of class_arr" [value]="item" >
        {{item}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="s_classFormControl.hasError('s_class') && !s_classFormControl.hasError('required')">
        Please enter a valid class
      </mat-error>
      <mat-error *ngIf="s_classFormControl.hasError('required')">
      Class is <strong>required</strong>
      </mat-error>
  </mat-form-field>

  <br>
<br>

<mat-form-field>
    <mat-select placeholder="Enter Division" [(ngModel)]="s_div" required s_div name="s_div" #s_divFormControl="ngModel">
      <mat-option *ngFor="let item of div_arr" [value]="item" >
        {{item}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="s_divFormControl.hasError('s_div') && !s_divFormControl.hasError('required')">
        Please enter a valid division
      </mat-error>
      <mat-error *ngIf="s_divFormControl.hasError('required')">
        Division is <strong>required</strong>
      </mat-error>
  </mat-form-field>

  <br>
  <br>
  <mat-form-field class="example-full-width">
      <span matPrefix>+91 &nbsp;</span>
      <input type="tel" matInput placeholder="Enter Contact No." required #s_contactnoFormControl="ngModel" s_contactno [(ngModel)]="s_contactno" name="s_contactno">
      <mat-icon matSuffix>mode_edits</mat-icon>
      <mat-error *ngIf="s_contactnoFormControl.hasError('s_contactno') && !s_contactnoFormControl.hasError('required')">
          Please enter a valid contact number
        </mat-error>
        <mat-error *ngIf="s_contactnoFormControl.hasError('required')">
          Contact number is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <br>
    <br>


<mat-form-field>
    <mat-select placeholder="Enter Category" [(ngModel)]="s_category" #s_categoryFormControl="ngModel" required s_category name="s_category">
      <mat-option *ngFor="let item of category_arr" [value]="item" >
        {{item}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="s_categoryFormControl.hasError('s_category') && !s_categoryFormControl.hasError('required')">
        Please enter a valid category
      </mat-error>
      <mat-error *ngIf="s_categoryFormControl.hasError('required')">
        Category is <strong>required</strong>
      </mat-error>
  </mat-form-field>

  <br>
  <br>


<mat-form-field>
    <mat-select placeholder="Select BloodGroup" [(ngModel)]="s_bloodgroup" #s_bloodgroupFormControl="ngModel" required s_bloodgroup name="s_bloodgroup">
      <mat-option *ngFor="let item of bloodgroup_arr" [value]="item" >
        {{item}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="s_bloodgroupFormControl.hasError('s_bloodgroup') && !s_bloodgroupFormControl.hasError('required')">
        Please enter a valid blood group
      </mat-error>
      <mat-error *ngIf="s_bloodgroupFormControl.hasError('required')">
        Blood group is <strong>required</strong>
      </mat-error>
  </mat-form-field>




  <br>
  <br>


  <!-- <input placeholder="Upload profile Photo" type="file" (change)="onChange($event)" [(ngModel)]="s_profilepic" name="s_profilepic"> -->
 <!-- <mat-form-field class="example-full-width">
    <input placeholder="Upload profile Photo" type="file" (change)="onChange($event)" [(ngModel)]="s_profilepic" name="s_profilepic">
  </mat-form-field> -->
</form>
<button (click)="onupdate()" class="btn btn-primary">Update</button>
</div>
