<h1> Update Teacher </h1>

<div class="form-control container">
  <form class="example-form">

<br>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter Name" [(ngModel)]="t_name" name="t_name">
    </mat-form-field>

<br>

Select Gender
<br>
    <mat-radio-group class="example-radio-group" [(ngModel)]="t_gender" name="t_gender">
        <mat-radio-button class="example-radio-button" *ngFor="let item of gender_arr" [value]="item">
           {{item}}
        </mat-radio-button>
      </mat-radio-group>

<br>
<br>
<mat-form-field>
    <input matInput placeholder="Enter Date of birth" type="date" [(ngModel)]="t_dob" name="t_dob">
    <!-- <input matInput [matDatepicker]="picker" placeholder="Choose your Birth date" name="s_dob" [(ngModel)]="s_dob">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker> -->
  </mat-form-field>

  <br>


  <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter Email" #emailFormControl="ngModel" required email [(ngModel)]="t_email" name="t_email" [errorStateMatcher]="matcher">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

<br>
<br>

<mat-form-field class="example-full-width">
    <textarea matInput placeholder="Enter your address" [(ngModel)]="t_address" name="t_address"></textarea>
  </mat-form-field>

<br>
<br>

<mat-form-field>
    <mat-select placeholder="Enter Class" [(ngModel)]="t_class" name="t_class">
      <mat-option *ngFor="let item of class_arr" [value]="item" >
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
<br>

<mat-form-field>
    <mat-select placeholder="Enter Division" [(ngModel)]="t_classdiv" name="t_classdiv">
      <mat-option *ngFor="let item of div_arr" [value]="item" >
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <br>
  <mat-form-field class="example-full-width">
      <span matPrefix>+91 &nbsp;</span>
      <input type="tel" matInput placeholder="Enter Contact No." [(ngModel)]="t_contactno" name="t_contactno">
      <mat-icon matSuffix>mode_edits</mat-icon>
    </mat-form-field>

    <br>
    <br>


<mat-form-field>
    <mat-select placeholder="Enter Category" [(ngModel)]="t_category" name="t_category">
      <mat-option *ngFor="let item of category_arr" [value]="item" >
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <br>
  <br>
  <br>


  <!-- <input placeholder="Upload profile Photo" type="file" (change)="onChange($event)" [(ngModel)]="s_profilepic" name="s_profilepic"> -->
 <!-- <mat-form-field class="example-full-width">
    <input placeholder="Upload profile Photo" type="file" (change)="onChange($event)" [(ngModel)]="s_profilepic" name="s_profilepic">
  </mat-form-field> -->
</form>
<button (click)="onupdate()" class="btn btn-primary">Update</button>
</div>
