<!-- <form>
<div class="container">
  <div class="form-group">
    Forget Password

    <mat-form-field class="example-full-width" style="width: 500px;">
      <input matInput placeholder="Enter Email Id" [(ngModel)]="emailid" name="emailid" #emailid="ngModel" [(ngModel)]="email_id">
    </mat-form-field>
    <div [hidden]="emailid.valid || emailid.untouched">
      <div [hidden]="!emailid?.errors?.required"></div>
      <mat-error>Email Id is required</mat-error>
    </div>
    <button mat-raised-button color="primary" (click)="onforget()">Done</button>
    <button mat-raised-button color="primary" (click)="oncancel()">Cancel</button>
  </div>
</div>
</form> -->
